@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-nav: #FF6B35;
  --color-tag-bg: #EFF6FF;
  --color-link: #1D4ED8;
  --color-body: #4B5563;
  --color-body-subtle: #6B7280;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}
