---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Etiquetas";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-wrap gap-2">
    {
      tags.map((tag) => (
        <p class="m-1 border border-dotted border-gray-300 rounded-lg px-4 py-2 text-[1.15rem] bg-tag-bg dark:bg-gray-700">
          <a href={`/tags/${tag}`} class="text-link hover:underline">{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>
