---
 
---

<div class="cursor-pointer pr-5 md:hidden" role="button" aria-label="Toggle navigation menu" tabindex="0">
  <span class="block w-10 h-1.25 mb-2.5 bg-nav"></span>
  <span class="block w-10 h-1.25 mb-2.5 bg-nav"></span>
  <span class="block w-10 h-1.25 mb-2.5 bg-nav"></span>
</div>
