---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="max-w-4xl mx-auto px-4">
  <nav class="flex items-center justify-between py-4">
    <div class="flex items-center gap-4">
      <Hamburger />
      <ThemeIcon />
    </div>
    <Navigation />
  </nav>
</header>
