<div id="nav-links" transition:animate="slide" class="nav-links hidden md:block absolute md:static top-20 left-12 bg-nav md:bg-transparent w-full md:w-auto z-10">
  <a href="/" class="block md:inline-block text-center p-2 md:p-4 no-underline font-bold uppercase text-gray-900 dark:text-white">Inicio</a>
  <a href="/about/" data-astro-reload class="block md:inline-block text-center p-2 md:p-4 no-underline font-bold uppercase text-gray-900 dark:text-white">Sobre mi</a>
  <a href="/blog/" class="block md:inline-block text-center p-2 md:p-4 no-underline font-bold uppercase text-gray-900 dark:text-white">Blog</a>
  <a href="/tags/" class="block md:inline-block text-center p-2 md:p-4 no-underline font-bold uppercase text-gray-900 dark:text-white">Tags</a>
</div>
