---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`} aria-label={`Visit our ${platform} profile`} class="px-4 py-2 text-white bg-[#3a1778] no-underline rounded hover:bg-[#2d1260]">
  {platform}
</a>
